@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  z-index: 9999;
}

.nav-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-button {
  cursor: pointer;
  font-size: 1.25vw;
  font-weight: 600;
  border-radius: 10px;
  padding: 7px 18px;
  border: 0;
  color: #000021;
  background: #05d2a2;
  letter-spacing: 1px;
}
.home-button:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #05d2a2;
}

.title {
  font-family: "Dosis", sans-serif;
  font-size: 5vw;
  color: white;
  font-weight: 400;
  margin: 0;
  -webkit-text-stroke-width: 0.1vw;
  text-shadow: 3px 3px rgb(93, 91, 91);
}

.nav-link {
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  -webkit-text-stroke-width: 0.03vw;
}

.sign {
  background-color: #3c91e6;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1.25vw;
  font-weight: 600;
  border-radius: 10px;
  padding: 7px 18px;
  border: 0;
  color: hsl(240, 17%, 98%);
  background: #3c91e6;
}
.sign:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #3c91e6;
}

.balloon {
  position: absolute;
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
}

.balloon-container {
  position:relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #fff;
  border: solid black 0.2vw;  
}

.profile-image-container {
  position: relative;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: solid black 0.2vw; 
  overflow: hidden;
}


.profile-image {
  position: absolute;
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
  object-fit: fill;
}