@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 9999;
}

.home-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home {
  margin-right: -6vw;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 7px 18px;
  border: 0;
  color: #000021;
  background: #05d2a2;
  line-height: 1.15;
  font-size: 16px;
  letter-spacing: 1px;
}
.home:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #05d2a2;
}
.nav-point {
  list-style: none;
  /* margin-left: 2vw; */
  min-width: 8vw;
}
.title {
  font-family: "Dosis", sans-serif;
  font-size: 5.5vw;
  color: white;
  /* margin-right: -20vw; */
  /* margin-left: 22vw; */
  -webkit-text-stroke-width: 0.1vw;
  text-shadow: 3px 3px rgb(93, 91, 91);
}

.nav-link {
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  -webkit-text-stroke-width: 0.03vw;
}

.sign {
  background-color: #3c91e6;
  margin-left: -3vw;
  letter-spacing: 1px;
  margin-right: -5vw;

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 7px 18px;
  border: 0;
  color: hsl(240, 17%, 98%);
  background: #3c91e6;
  line-height: 1.15;
  font-size: 16px;
}
.sign:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #3c91e6;
}

.balloon {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-top: 5px;
  /* position: absolute; */
  top: 10px;
  justify-content: center;
  /* background-color: purple; */
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
  border: solid black;
  border-width: 6px;
}
