.accordion-item {
  background-color: #05d2a2;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  padding-top: 2vh;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}

.accordion-content {
  padding-left: 1.3vh;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  padding-right: 1.9vh;
  background-color: white;
  color: black;
}

.accordion-item:hover {
  color: black;
  background-color: white;
}
.accordion-title {
  font-size: 18px;
}
.active {
  background-color: white;
}
